.inline_code {
    background-color: var(--mui-palette-divider);
    border: 1px solid var(--mui-palette-action-disabledBackground);
    border-radius: var(--mui-shape-borderRadius);
    padding: 0 0.2rem;
}