html,
body,
#root {
    color-scheme: dark;
    width: 100vw;
    margin: 0;

    font-family:
        'IBM Plex Sans',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
}

#root {
    position: relative;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-color: var(--mui-palette-primary-dark) var(--mui-palette-divider);
    scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--mui-palette-divider);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--mui-palette-primary-dark);
    border-radius: var(--mui-shape-borderRadius);
}